/* You can add global styles to this file, and also import other style files */
.tooltip {
    opacity: 1;
  }

  .tooltip .tooltip-inner{
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltip-inner::after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    transform: rotateX(180deg);
    border-color: #555 transparent transparent transparent;
  }

  /* .tooltip .tooltip-inner-left::after{

  }

  .tooltip .tooltip-inner-right::after

  .tooltip .tooltip-inner-top::after */

  .tooltip:hover .tooltip-inner{
      visibility: visible;
      opacity: 1;
  }