<!-- Navbar -->
<nav class="navbar navbar-dark">
    <a href="#" class="navbar-brand text-dark">ASH</a>
    <ul class="nav navbar-nav flex-row">
        <li class="nav-item p-1 text-dark" *ngIf="isUserLoggedIn"><a href="#">{{ this.cs.NAME }}</a></li>
        <li class="nav-item p-1" (click)="onLogin()" *ngIf="!isUserLoggedIn"><a href="#">LOGIN</a></li>
        <li class="nav-item p-1" (click)="onLogout()" *ngIf="isUserLoggedIn">
            <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </li>   
    </ul>
</nav>

<!-- Info Message -->
<div class="info-message" [ngClass]="showInfoMessage ? 'show-info' : ''">
    <div *ngIf="!infoMessageType" class="error"><h6>ERROR</h6><p>{{ infoMessage }}</p></div>
    <div *ngIf="infoMessageType" class="info"><h6>INFO</h6><p>{{ infoMessage }}</p></div>
</div>

<!-- Modal -->
<div class="modal" [ngClass]="modal ? 'd-block' : 'd-none'" (click)="cs.setModal(false)"></div>

<!-- Login Window-->
<div class="l-window" [ngClass]="loginWindow ? 'd-block' : 'd-none'">
    <div class="l-head">
        <h3>LOGIN</h3>
    </div>
    <div class="l-body col-10 m-auto">
        <form [formGroup]="loginForm">
            <div class="form-group">
                <label for="email">Email:</label>
                <div class="input" [ngClass]="loginForm.controls.email.touched ? loginForm.controls.email.valid ? '' : 'input-error' : ''">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="email" id="email" formControlName="email">
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div class="input" [ngClass]="loginForm.controls.password.touched ? loginForm.controls.password.valid ? '' : 'input-error' : ''">
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    <input type="password" id="password" formControlName="password">
                </div>
            </div>
            <div class="form-group float-right">
                <button class="btn btn-primary" (click)="onLoginFormSubmit()">LOGIN</button>
            </div>
        </form>
    </div>
</div>

<router-outlet></router-outlet>